/* Estilos para el contenedor principal */
.container {
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
 /* Centra el contenedor en la página */
  }
  
  /* Estilos para el título */
  h1 {
    font-size: 2.5rem; /* Tamaño de fuente grande para el título */
    font-weight: bold; /* Fuente en negrita */
    line-height: 1.2; /* Espacio entre líneas */
    margin-bottom: 10px; /* Espacio inferior */
  }
  
  /* Estilos para el párrafo */
  p {
    font-size: 1.1rem; /* Tamaño de fuente */
    line-height: 1.6; /* Espacio entre líneas */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  /* Estilos para la fecha */
  .text-gray-500 {
    color: #888; /* Color de texto gris */
  }
  
  /* Estilos para la imagen */
  img {
    display: flex; /* Hace que la imagen sea un bloque */
    float: left;
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden; /* Oculta cualquier parte de la imagen que esté fuera del contenedor */
  }